html {
  background-color: hsl(140, 100%, 10%);
  font-family: "Roboto", sans-serif;
}

div {
  background-color: hsl(140, 100%, 25%);
  padding: 0.5%;
  /* animation: 1s infinite; */
  font-size: large;
}

nav {
  position: fixed;
  top: 5px;
  right: 15px;
  flex-direction: row;
}

img {
  height: 150px;
  padding: 0.5%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-evenly;
}

h1 {
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
main {
  width: 90%;
  height: 90%;
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-evenly;
  padding: 5px 5px;
}
.button {
  display: flex;
  font-size: smaller;
  color: white;
  cursor: pointer;
  background-color: hsl(140, 100%, 10%);
  align-content: center;
  justify-content: center;
  border-radius: 10%;
  padding: 0.5%;
}

.textHolder {
  align-items: center;
  justify-self: center;
  justify-content: center;
  border-radius: 100%;
  background-color: hsl(140, 100%, 40%);
}
